In [1]:
from plot_sankey.AutoSankey import AutoSankey
import pandas as pd
import plotly.graph_objects as go
import io

In [8]:
raw_data = """
has_code_detected,has_code_detected_validated,has_incremental_code_detected_validated,has_code_triggerred_in_am,has_code_saved_in_am,has_code_created_from_am,has_code_created_merchandised_from_am,num_shops_ads_sellers,shops_ads_revenue
0,0,0,0,0,0,0,7253,6795728580.0996
0,0,0,0,0,1,0,49,56867403
0,0,0,0,0,1,1,145,71105987.436057
0,0,0,1,0,0,0,26,32065292
0,0,0,1,0,1,1,1,227354
0,0,0,1,1,0,0,32,13176665
0,0,0,1,1,1,0,8,2984645
0,0,0,1,1,1,1,29,37452610.36145
1,0,0,0,0,0,0,2846,7430151370.7662
1,0,0,0,0,1,0,34,74540743.053266
1,0,0,0,0,1,1,215,377775926.49892
1,0,0,0,1,1,0,1,134894
1,0,0,0,1,1,1,1,55617
1,0,0,1,0,0,0,130,301674050.8128
1,0,0,1,0,1,0,6,19022707
1,0,0,1,0,1,1,31,32671878
1,0,0,1,1,0,0,108,263667007.60353
1,0,0,1,1,1,0,36,51929814
1,0,0,1,1,1,1,150,423878710.78736
1,1,0,0,0,0,0,20,59924263
1,1,0,0,0,1,1,16,22190301
1,1,0,1,0,0,0,1,5883
1,1,0,1,0,1,1,11,24103353
1,1,0,1,1,0,0,2,759898
1,1,0,1,1,1,0,2,1957222
1,1,0,1,1,1,1,21,36445659
1,1,1,0,0,0,0,307,783919371.5673
1,1,1,0,0,1,0,12,7978629
1,1,1,0,0,1,1,53,251150680.9964
1,1,1,1,0,0,0,72,216612440.61049
1,1,1,1,0,1,0,5,5239356
1,1,1,1,0,1,1,10,27045672
1,1,1,1,1,0,0,20,95234098
1,1,1,1,1,1,0,15,31861048
1,1,1,1,1,1,1,52,496621382
"""
test = io.StringIO(raw_data)
agg = pd.read_csv(test)

In [9]:
# tb = pd.DataFrame()
# tb['landed_onsite'] = (
#     [0] * 500 + [1]*500
# )

# tb['see_sfi_upper_surfaces'] = (
#     [0] * 700 + [1]*300
# )

# tb['see_sfi_cart_checkout'] = (
#     [0] * 200 + [1]*800
# )

# tb['converted'] = (
#     [0] * 900 + [1]*100
# )
# for col in tb.columns:
#   tb[col] = tb[col].sample(frac=1).reset_index(drop=True)

# agg = tb.groupby(['landed_onsite','see_sfi_upper_surfaces','see_sfi_cart_checkout','converted']).size().reset_index()
# agg.columns = ['landed_onsite','see_sfi_upper_surfaces','see_sfi_cart_checkout','converted','count']

# agg['pct'] = (agg['count']/agg['count'].sum()) * 100

# agg = agg.sort_values(['landed_onsite','see_sfi_upper_surfaces','see_sfi_cart_checkout','converted'])
# # agg.to_csv('~/Desktop/test.csv',index=False)

In [10]:
agg

,has_code_detected,has_code_detected_validated,has_incremental_code_detected_validated,has_code_triggerred_in_am,has_code_saved_in_am,has_code_created_from_am,has_code_created_merchandised_from_am,num_shops_ads_sellers,shops_ads_revenue
0,0,0,0,0,0,0,0,7253,6.795729e+09
1,0,0,0,0,0,1,0,49,5.686740e+07
2,0,0,0,0,0,1,1,145,7.110599e+07
3,0,0,0,1,0,0,0,26,3.206529e+07
4,0,0,0,1,0,1,1,1,2.273540e+05
5,0,0,0,1,1,0,0,32,1.317666e+07
6,0,0,0,1,1,1,0,8,2.984645e+06
7,0,0,0,1,1,1,1,29,3.745261e+07
8,1,0,0,0,0,0,0,2846,7.430151e+09
9,1,0,0,0,0,1,0,34,7.454074e+07
10,1,0,0,0,0,1,1,215,3.777759e+08
11,1,0,0,0,1,1,0,1,1.348940e+05
12,1,0,0,0,1,1,1,1,5.561700e+04
13,1,0,0,1,0,0,0,130,3.016741e+08
14,1,0,0,1,0,1,0,6,1.902271e+07
15,1,0,0,1,0,1,1,31,3.267188e+07
16,1,0,0,1,1,0,0,108,2.636670e+08
17,1,0,0,1,1,1,0,36,5.192981e+07
18,1,0,0,1,1,1,1,150,4.238787e+08
19,1,1,0,0,0,0,0,20,5.992426e+07
20,1,1,0,0,0,1,1,16,2.219030e+07
21,1,1,0,1,0,0,0,1,5.883000e+03
22,1,1,0,1,0,1,1,11,2.410335e+07
23,1,1,0,1,1,0,0,2,7.598980e+05
24,1,1,0,1,1,1,0,2,1.957222e+06
25,1,1,0,1,1,1,1,21,3.644566e+07
26,1,1,1,0,0,0,0,307,7.839194e+08
27,1,1,1,0,0,1,0,12,7.978629e+06
28,1,1,1,0,0,1,1,53,2.511507e+08
29,1,1,1,1,0,0,0,72,2.166124e+08
30,1,1,1,1,0,1,0,5,5.239356e+06
31,1,1,1,1,0,1,1,10,2.704567e+07
32,1,1,1,1,1,0,0,20,9.523410e+07
33,1,1,1,1,1,1,0,15,3.186105e+07
34,1,1,1,1,1,1,1,52,4.966214e+08

In [11]:
agg.columns

Index(['has_code_detected', 'has_code_detected_validated',
       'has_incremental_code_detected_validated', 'has_code_triggerred_in_am',
       'has_code_saved_in_am', 'has_code_created_from_am',
       'has_code_created_merchandised_from_am', 'num_shops_ads_sellers',
       'shops_ads_revenue'],
      dtype='object')

In [14]:
column_class_dict = {
    col:list(set(agg[col])) for col in agg.columns if col not in ['num_shops_ads_sellers']
}

In [16]:
column_class_dict

{'has_code_detected': [0, 1],
 'has_code_detected_validated': [0, 1],
 'has_incremental_code_detected_validated': [0, 1],
 'has_code_triggerred_in_am': [0, 1],
 'has_code_saved_in_am': [0, 1],
 'has_code_created_from_am': [0, 1],
 'has_code_created_merchandised_from_am': [0, 1]}

In [17]:
funnel_layers =

SyntaxError: invalid syntax (732694281.py, line 1)